---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// COLOURS
$c-white: #FFFFFF;
$c-warm: #C6B19F;
$c-warm-light: #EAE1DA;
$c-light-grey: #EEEEEE;
$c-black: #222222;



// FONTS
$f-header: 'Baskerville', serif;
$f-body: 'Baskerville', serif;

@mixin s-page-heading{
	font-family: $f-header;
	font-style: italic;
	font-weight: normal;
	font-size: 4em;
	margin: 0;
}


// BREAKPOINTS
$br-mobile: 700px;


// DECORATIONS
$s-smooth-ease: all .2s ease-in-out;

@mixin button-reset{
	-webkit-appearance: none;
	border: none;
	box-shadow: none;
}

@mixin header-page{
	font-size: 3rem;
	font-style: italic;
	font-weight: normal;
	text-align: center;
}

@mixin body-panel{
	font-size: 1rem;
	max-width: 40em;
	margin: 0 auto;
	padding: 1em;

	p{
		text-align: justify;
		line-height: 1.5em;
	}

	h2{
		font-size: 1.5rem;
	}
}

// Box Sizing Prefixing
@mixin box-sizing($type){
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
}

// FLEXBOX MIXINS
@mixin display_flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($n){
	@if $n == column{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	} @else {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

@mixin order($n){
  -webkit-box-ordinal-group: ($n + 1);
  -webkit-order: $n;
  -ms-flex-order: $n;
  order: $n;
}

@mixin justify-content($n){

	-webkit-justify-content: $n;
	justify-content: $n;

	@if $n == flex-end{
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $n == flex-start{
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $n == space-between{
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else {
		-webkit-box-pack: $n;
		-ms-flex-pack: $n;
	}
}

@mixin align-items($n){
	-webkit-box-align: $n;
	-webkit-align-items: $n;
	-ms-flex-align: $n;
	align-items: $n;
}

@mixin flex($n){
	-webkit-box-flex: $n;
	-webkit-flex: $n;
	-ms-flex: $n;
	flex: $n;
}

@mixin flex-wrap($n){
	-webkit-flex-wrap: $n;
  -ms-flex-wrap: $n;
  flex-wrap: $n;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "pages",
  "lightbox"
;
