<header class="site-header">

  <div class="site-header__banner">
    <a href="/"><img src="{{ "/images/logo.png" | prepend: site.url }}" alt="Pump Cottage"></a>
    <div class="site-header__banner__book">
      <a href="/contact"><button>Book: 01305 457840</button></a>
    </div>
  </div>

  <nav class="site-header__nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/accommodation">Accommodation</a>
        <ul>
          <li><a href="/accommodation">Bed &amp; Breakfast</a></li>
          <li><a href="/accommodation#holidaylets">Holiday Lets</a></li>
        </ul>
      </li>
      <li><a href="/location">Location</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    </nav>
  
</header>