<header class="site-header">

  <div class="site-header__banner">
    <a href="/"><img src="{{ "/logo.png" | prepend: site.s3 }}" alt="Pump Cottage"></a>
    <div class="site-header__banner__book">
      <a class="book-button" href="http://www.freetobook.com/affiliates/reservation.php?w_id=17161&amp;w_tkn=xS3yvGPHXPewYD92CFFkgZt7gkSbS2j6bBbeOrKFM0AJCkTCD6f3c8HEImbLM">Book Now</a>
      <a class="phone" href="/bookings">01305 457840</a>
      <a class="email" href="/bookings">pumpcottagedorset@gmail.com</a>
    </div>
  </div>

  <nav class="site-header__nav">
    <ul>
      <li><a href="{{ site.url }}">Home</a></li>
      <li>
        <a href="/accommodation">Accommodation</a>
        <ul>
          <li><a href="{{"/accommodation" | prepend: site.url }}">Bed &amp; Breakfast</a></li>
          <li><a href="/accommodation#holidaylets">Holiday Lets</a></li>
        </ul>
      </li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/location">Location</a></li>
      <li><a href="/bookings">Bookings</a></li>
      <li><a href="https://www.facebook.com/pages/Pump-Cottage/1519402194985750">Facebook</a></li>
    </ul>

    </nav>

</header>
